#rating-confidences .output-label>div:not(:first-child) {
    cursor: pointer;
}

#tag-confidences .output-label>div:not(:first-child) {
    cursor: pointer;
}

#rating-confidences .output-label>div:not(:first-child):hover {
    foreground-color: #f5f5f5;
}

#tag-confidences .output-label>div:not(:first-child):hover {
    foreground-color: #f5f5f5;
}

#rating-confidences .output-label>div:not(:first-child):active {
    foreground-color: #e6e6e6;
}

#tag-confidences .output-label>div:not(:first-child):active {
    foreground-color: #e6e6e6;
}

#discard-tag-confidences .output-label>div:not(:first-child) {
    cursor: pointer;
}

#discard-tag-confidences .output-label>div:not(:first-child):hover {
    foreground-color: #f5f5f5;
}

#discard-tag-confidences .output-label>div:not(:first-child):active {
    foreground-color: #e6e6e6;
}
#tags a {
    font-weight: inherit;
    color: #888;
}
#tags a:hover {
    color: #f5f5f5;
}

